.titulo {
    text-align: center;
}

.colorAppBar {
    background-color: transparent!important;
}

.colorText {
    color: black !important;
}

.text-decorator-none {
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    padding-top: 3px;
}

.icon {
    justify-content: center;
    color: black;
}