.contato {
  text-align: center;
  width: 900px;
  height: 661px;
  background: #1be3d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-bottom: 20px;
}

.image-tophome {
  background-image: url("https://cdn.discordapp.com/attachments/903702693208539196/908715115480748052/PicsArt_11-12-10.50.17.png") !important;
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 55vh;
}

.titulo {
  margin-top: 10px;
  background: #1be3d9;
}

.Box3{
  background-color: #ffffff!important;
  background-size: cover !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  height: 150VH !important;
  width: 100% !important;
}

.grid1{

  display: flex!important;
  align-items: flex-start !important;
  justify-content: flex-start !important;


}
.icones{
 width: 50px;
 height: 50px;
 margin: 10px!important;
}
.card{
  margin: 10px!important;
}

.titulo5{
 
  background-size: cover !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  height: 17VH;
  width: 100%;
  margin-top: 30px!important;
 
}

.containercards{
  margin-bottom: 50px!important;
}