body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
